{% extends 'base.html.twig' %}

{% block title %}Syndic{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Syndic</h1>

    {{ include('syndic/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
