{% extends 'base.html.twig' %}

{% block title %}Prime Assurance{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter une Prime d'assurance</h1>

    {{ include('prime_assurance/_form.html.twig') }}

    <button class="mt-3 btn btn-secondary" type="button">
        <a href="{{ path('app_lot_edit', {residenceId: residence.id, id: lot.id }) }}">Retour {{ lot.nomLot }}</a>
    </button>
{% endblock %}
