<form method="post" action="{{ path('app_mandat_syndic_delete', {'residenceId': residence.id, 'id': mandat_syndic.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce mandat de Syndic ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mandat_syndic.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
