<form method="post" action="{{ path('app_banque_delete', {'id': banque.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette banque ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ banque.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
