{% extends 'base.html.twig' %}

{% block title %}Banque{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Banque {{ banque.nomBanque }}</h1>

    {{ include('banque/_form.html.twig', {'button_label': 'Mise à jour'}) }}

{% endblock %}
