{% extends 'base.html.twig' %}

{% block title %}Banque{% endblock %}

{% block body %}
    <h1 class="text-center">Créer nouvelle Banque</h1>

    {{ include('banque/_form.html.twig') }}

{% endblock %}
