{% extends 'base.html.twig' %}

{% block title %}Locataire{% endblock %}

{% block body %}
    <h1 class="text-center">Créer nouveau Locataire</h1>

    {{ include('locataire/_form.html.twig') }}

{% endblock %}
