{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
    <h1 class="text-center">Créer nouvelle Location</h1>

    {{ include('location/_form.html.twig') }}
    
    <button class="mt-3 btn btn-secondary" type="button">
        <a href="{{ path('app_lot_edit', {residenceId: residence.id, id: lot.id }) }}">Retour {{ lot.nomLot }}</a>
    </button>
{% endblock %}
