{% extends 'base.html.twig' %}

{% block title %}Résidence{% endblock %}

{% block body %}
    <h1>Modification Résidence</h1>

    {{ include('residence/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('app_residence_index') }}">back to list</a>

{% endblock %}
