{% extends 'base.html.twig' %}

{% block title %}Résidence{% endblock %}

{% block body %}
    <h1>Modifier Résidence {{ residence.nomResidence }}</h1>

    {{ include('residence/_form.html.twig', {'button_label': 'Mise à jour'}) }}

{% endblock %}
