<form method="post" action="{{ path('app_mandat_gestionnaire_delete', {'id': mandat_gestionnaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mandat_gestionnaire.id) }}">
    <button class="btn">Delete</button>
</form>
