{% extends 'base.html.twig' %}
{% block title %}MandatGestionnaire{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Mandat de Gestion</h1>

    {{ include('mandat_gestionnaire/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    {{ include('frais_gestion/index.html.twig', {mandatGestionnaireId: mandat_gestionnaire.id}) }}

    <button class="btn btn-secondary" type="button">
        <a href="{{ path('app_lot_edit', {residenceId: residence.id, id: lot.id }) }}">Retour {{ lot.nomLot }}</a>
    </button>
{% endblock %}
