{% extends 'base.html.twig' %}

{% block title %}MandatGestionnaire{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un nouveau mandat de gestion</h1>

    {{ include('mandat_gestionnaire/_form.html.twig') }}

    <button class="mt-3 btn btn-secondary" type="button">
        <a href="{{ path('app_lot_edit', {residenceId: residence.id, id: lot.id }) }}">Retour {{ lot.nomLot }}</a>
    </button>

{% endblock %}
