{% extends 'base.html.twig' %}

{% block title %}MandatGestionnaire{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un nouveau mandat de gestion</h1>

    {{ include('mandat_gestionnaire/_form.html.twig') }}
{% endblock %}
