{% extends 'base.html.twig' %}

{% block title %}Edit RegularisationPonctuelle{% endblock %}

{% block body %}
    <h1>Edit RegularisationPonctuelle</h1>

    {{ include('regularisation_ponctuelle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_regularisation_ponctuelle_index') }}">back to list</a>

    {{ include('regularisation_ponctuelle/_delete_form.html.twig') }}
{% endblock %}
