<form method="post">
        <div class="col-3">
            <select class="mt-2 form-select" aria-label="Choix année" id="choix-annee" name="choix-annee" required>
                <option value="">Choisir une année</option>
                {% for annee in annees %}
                    <option value="{{ annee }}">{{ annee }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="mt-2 btn btn-info" type="submit">Choisir</button>
    </form>