{% extends 'base.html.twig' %}

{% block title %}Emprunt{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Emprunt</h1>

    {{ include('emprunt/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    {{ include('interet/index.html.twig', {empruntId: emprunt.id}) }}

    <button class="btn btn-secondary" type="button">
        <a href="{{ path('app_lot_edit', {residenceId: residence.id, id: lot.id }) }}">Retour {{ lot.nomLot }}</a>
    </button>
{% endblock %}
