<form method="post" action="{{ path('app_caf_delete', {'residenceId': residence.id, 'lotId': lot.id, 'locationId': location.id, 'id': caf.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ caf.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
