{% extends 'base.html.twig' %}

{% block title %}Caf{% endblock %}

{% block body %}
    <h1 class="text-center">Modification CAF</h1>

    {{ include('caf/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <button class="btn btn-secondary" type="button">
        <a href="{{ path('app_location_edit', {residenceId: residence.id, lotId: lot.id, id: location.id }) }}">Retour Location</a>
    </button>
{% endblock %}
