{% extends 'base.html.twig' %}

{% block title %}Edit Gestionnaire{% endblock %}

{% block body %}
    <h1>Modifier Gestionnaire {{ gestionnaire.nomGestionnaire }}</h1>

    {{ include('gestionnaire/_form.html.twig', {'button_label': 'Mise à jour'}) }}
{% endblock %}
