{% extends 'base.html.twig' %}

{% block title %}Gestionnaire{% endblock %}

{% block body %}
    <h1 class="text-center">Création nouveau gestionnaire</h1>

    {{ include('gestionnaire/_form.html.twig') }}
{% endblock %}
