{% extends 'base.html.twig' %}

{% block title %}Interet{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Intérêt de l'année {{ interet.annee }}</h1>

    {{ include('interet/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    {{ include('interet/_delete_form.html.twig') }}

    <button class="btn btn-secondary" type="button">
        <a href="{{ path('app_emprunt_edit', {residenceId: residence.id, lotId: lot.id, id: emprunt.id }) }}">Retour emprunt</a>
    </button>
{% endblock %}
